<div class="wrap-card">
    <!-- <span class="lucky-header">
        Con số may mắn của bạn là
    </span> -->
    <span class="lucky-number" id="printableArea">
        {{ data.number }}
    </span>

    <button (click)="print()">
        In số
    </button>
    <!-- <span class="lucky-wish">
        "{{ data.message }}"
    </span>
    <span class="lucky-money" *ngIf="data.money > 100">
        {{ data.money | number }}đ
    </span>
    <span class="lucky-money" *ngIf="data.money <= 100">
        1 bánh chè Lam
    </span> -->
</div>